:root {
  --primary-color: #4B3F72;
  --accent-color: #FFC857;
  --secondary-color: #2E4057;
}

html {
  background-color: var(--primary-color);
  color: #FFF;
}

body {
  margin: 0;
  color: #46648a;
}

main {
  color: #FFF;
}

input, textarea {
  color: #FFF;
}
